<% products_list.each do |product| %>
  <li>
    <a href="javascript:void(0)" class="js-accordion-trigger">
      <%= image_tag(product.image_url(:thumb).to_s) %>
      <%= product.name %>
      <i class="fa fa-caret-down"></i>
    </a>
    <ul class="submenu">
      <% conversations.where("product_id = ?", product.id).each do |conv| %>
        <li>
          <a href="javascript:void(0)">
            <i class="fa fa-envelope"></i>
            <div class="conversation-info">
              <%= link_to conversation_path(conv) do %>
                Trade with <%= conv.sender.name %>
                <div>
                  <% if conv.messages.last %>
                    Last message: <%= conv.messages.last.created_at.to_formatted_s(:db) %>
                  <% else %>
                    Started on: <%= conv.created_at.to_formatted_s(:db) %>
                  <% end %>
                </div>
              <% end %>
            </div>
          </a>
        </li>
      <% end %>
    </ul>
  </li>
<% end %>