<div class="convo-product-brief">
	<%= link_to( image_tag(@product.image_url(:thumb).to_s), product_path(@product)) %>
	<div><%= @conversation.sender.name %> is requesting a trade:</div>
	<div><%= @conversation.request %></div>
</div>

<%= form_for([@message]) do |f| %>

	<div class="convo-message-form">
		<ul>
			<li><%= f.text_area :content, :placeholder => "Type in your message here" %></li>
				<%= f.hidden_field :conversation_id, {value: @conversation.id} %>
				<%= f.hidden_field :sender_id, {value: current_user.id} %>
				<%= f.hidden_field :product_id, {value: @product.id} %>
				<% @conversation.sender != current_user ? @receiver = @conversation.sender : @receiver = current_user %>
				<%= f.hidden_field :receiver_id, {value: @receiver.id} %>
			<li><%= f.submit "Send" %></li>
		</ul>
	</div>
<% end %>

<% if @owner == current_user %>

	<button class="user-controls">
		<%= link_to 'End Trade', new_trade_path(:product => @product.id, :buyer => @conversation.sender.id, :conversation => @conversation.id), method: "get" %>
	</button>
<% end %>

<% if @conversation.messages.length > 0 %>
	<div class="list-container">
		<div class="message-list">
			<% @conversation.messages.order(created_at: :desc).each do |m| %>
				<div class="comment">
				  <div class="comment-image">
				    <%= image_tag(m.sender.image_url(:thumb).to_s) %>
				  </div>
				  <div class="comment-content">
				    <h1><%= m.sender.name %></h1>
				    <p><%= m.content %></p>
				    <p class="comment-detail"><%= m.created_at.in_time_zone("Eastern Time (US & Canada)") %></p>
				  </div>
				</div>
			<% end %>
		</div>
	</div>

<% else %>

	<ul>
		<li class="message-content">Start trading <%= @conversation.product.name %> with <%= @conversation.sender.name %>!</li>
	</ul>

<% end %>