<% if @owner == current_user %>
	<div class="convo-controls">
		<ul>
			<li><%= link_to raw("<i class=\"fa fa-gavel\"> End Trade</i>"), new_trade_path(:product => @product.id, :buyer => @conversation.sender.id, :conversation =>@conversation.id) %></li>
			<li><%= link_to  "Active Trades", user_path(current_user) %></li>
		</ul>
	</div>
<% else %>
<% end %>

<div class="convo-product-brief">
	<ul>
		<li><%= @product.name %><br><%= @product.trade_info %></li>
		<li><%= link_to( image_tag(@product.image_url(:thumb).to_s), product_path(@product)) %></li>
	</ul>
</div>

<div class="trade-request-info">
  <ul>
		<p class="timestamp"><%= @conversation.created_at.to_formatted_s(:db) %></p>
    <li><%= @conversation.sender.name %> is requesting a trade for <%= @product.name %></li>
		<li><%= @conversation.request %></li>
  </ul>
</div>

<% if @conversation.messages.length > 0 %>


<a class="message-history" href="#">Message History</a>

<div class="most-recent-message">
		<div class="message-details">
			<ul>
				<p class="timestamp"><%= @conversation.messages.last.created_at.to_formatted_s(:db) %></p>
				<li><%= @conversation.messages.last.sender.name %> said:</li>
				<li class="message-content"><%= @conversation.messages.last.content %></li>
			</ul>
		</div>
</div>


<div class="list-container">
	<div class="message-list">
		<% @conversation.messages.each do |m| %>
			<div class="message-details">
				<ul>
					<p class="timestamp"><%= m.created_at.to_formatted_s(:db) %></p>
					<li><%= m.sender.name %> said:</li>
					<li class="message-content"><%= m.content %></li>
				</ul>
			</div>
		<% end %>
	</div>
</div>
<% else %>

	<ul>
		<li class="message-content">Start trading <%= @conversation.product.name %> with <%= @conversation.sender.name %>!</li>
	</ul>

<% end %>




<%= form_for([@message]) do |f| %>
	<div class="convo-message-form">
		<ul>
			<li>Reply</li>
			<li><%= f.text_area :content %></li>
			
			<%= f.hidden_field :conversation_id, {value: @conversation.id} %>
			<%= f.hidden_field :sender_id, {value: current_user.id} %>
			<%= f.hidden_field :product_id, {value: @product.id} %>
			<% @conversation.sender != current_user ? @receiver = @conversation.sender : @receiver = current_user %>
			<%= f.hidden_field :receiver_id, {value: @receiver.id} %>
			
			<li><%= f.submit %></li>
		
		</ul>
	</div>

<% end %>