<h1><%= @user.name %></h1>
<% if !@user.image %>
  <%= form_for(@user) do |f| %>
    <div class="pic-upload">
      <%= f.label :"Upload Profile Picture" %>
      <%= f.file_field :image %>
    </div>
    <div class="change-pic-btn">
      <%= f.submit "Upload" %>
    </div>
  <% end %>

<% else %>
  <%= image_tag(@user.image) %>
  <%= form_for(@user) do |f| %>
    <div class="pic-upload">
      <%= f.label :"Change Profile Picture" %>
      <%= f.file_field :image %>
    </div>

    <div>
      <%= f.submit "Upload" %>
    </div>
  <% end %>
<% end %>

<% if !@user.garden %>
  <p>Create a Garden</p>
  <%= form_for(@garden) do |f| %>
    <div class="pic-upload">
      <%= f.label :postal_code %>
      <%= f.text_field :postal_code %>
    </div>
    <div class="create-garden-btn">
      <%= f.submit "Create Garden" %>
    </div>
  <% end %>

<% else %>
  <%= link_to "View Garden", garden_path(@user.garden) %> |
  <%= link_to "Delete Garden", garden_path(@user.garden), method: :delete, data: {confirm: "Are you sure you want to delete this picture?"} %>
<% end %>
