<div id="user-info">
  <ul>
    <li><%= @user.name %> <%= @user.email %></li>
  </ul>
</div>

<div class="user-controls">
  <ul>
    <li><%= link_to raw("<i class=\"fa fa-gear\"> Profile Settings</i>"), edit_user_path(@user) %></li>
      <% if @trades.length != nil %>
        <li><%= link_to raw("<i class=\"fa fa-apple\"> Ended Trades</i>"), trades_path %> <%= @trades.count %></li>
      <% end %>
  </ul>
</div>



<% if @conversations %>
  <div class="conversations">
    <% @conversations.each do |c| %>    
      <% if !c.trade %>
  
          <ul class="request-box">
            <li><%= c.product.name %></li>
            <li>Requested by: <%= c.sender.name %></li>
            <li class="view-link"><%= link_to "View conversation", conversation_path(c) %></li>
            <%= link_to( image_tag(c.product.image_url(:thumb).to_s), product_path(c.product)) %>
          </ul>
  
      <% end %>
    <% end %>
  </div>
<% end %>

  <% if !@user.garden %>
    <div id="create-garden-button">
        <%= form_for([@garden]) do |f| %>
          <div class="field">
            <%= f.label :postal_code %>
            <%= f.text_field :postal_code %>
          </div>  
          <div class="action">
            <%= f.submit %>
          </div>
        <% end %>
    </div>
  <% else %>
    <%= link_to "Delete Garden", garden_path(@user.garden), method: :delete, data: {confirm: "Are you sure you want to delete your garden?"} %>
  <% end %>
  <%= link_to "Delete Profile", user_path(@user), method: :delete, data: {confirm: "Are you sure you want to delete your profile?"} %>
</div>
