<%= render 'userinfobox' %>

<div class="user-controls">
  <ul>
    <li><%= link_to raw("<i class=\"fa fa-gear\"> Profile Settings</i>"), edit_user_path(@user) %></li>
      <% if @trades.length != nil %>
        <li><%= link_to raw("<i class=\"fa fa-apple\"> Ended Trades</i>"), trades_path %> <%= @trades.count %></li>
      <% end %>
  </ul>
</div>

<div class="conversations">
  <ul class="accordion-tabs">

    <li class="tab-header-and-content">
      <a href="javascript:void(0)" class="is-active tab-link">Selling</a>
      <div class="tab-content">
        <ul class="accordion">

          <% @received_products_list.each do |conversation| %>
            <li>
              <a href="javascript:void(0)" class="js-accordion-trigger">
                <%= image_tag(conversation.product.image_url(:thumb).to_s) %>
                <%= conversation.product.name %>
              </a>
              <ul class="submenu">
                <% @received_conversations.where("product_id = ?", conversation.product.id).each do |conv| %>
                  <li>
                    <a href="javascript:void(0)">
                      <%= link_to "Trade with #{conv.sender.name}", conversation_path(conv) %>
                      Last message: <%= conv.messages.last.created_at.to_formatted_s(:db) %>
                    </a>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>

        </ul>
      </div>
    </li>

    <li class="tab-header-and-content">
      <a href="javascript:void(0)" class="tab-link">Requests</a>
      <div class="tab-content">
        <p>Ut laoreet augue et neque pretium non sagittis nibh pulvinar. Etiam ornare tincidunt orci quis ultrices. Pellentesque ac sapien ac purus gravida ullamcorper. Duis rhoncus sodales lacus, vitae adipiscing tellus pharetra sed. Praesent bibendum lacus quis metus condimentum ac accumsan orci vulputate. Aenean fringilla massa vitae metus facilisis congue. Morbi placerat eros ac sapien semper pulvinar. Vestibulum facilisis, ligula a molestie venenatis, metus justo ullamcorper ipsum, congue aliquet dolor tortor eu neque. Sed imperdiet, nibh ut vestibulum tempor, nibh dui volutpat lacus, vel gravida magna justo sit amet quam. Quisque tincidunt ligula at nisl imperdiet sagittis. Morbi rutrum tempor arcu, non ultrices sem semper a. Aliquam quis sem mi.</p>
      </div>
    </li>
  </ul>
</div>
</div>

<div class="pagination-links">
  <%= paginate @products_list %>
</div>

<ul>
  <% if !@user.garden %>
    <div id="create-garden-button">

      <%= form_for([@garden]) do |f| %>
        <div class="field">
          <li><%= f.label :postal_code %></li>
          <li><%= f.text_field :postal_code %></li>
        </div>
        <div class="action">
          <li><%= f.submit %></li>
        </div>
    </div>
</ul>
      <% end %>

  <% else %>
    <div class="user-controls">
    <ul>
      <li>
        <%= link_to raw("<i class=\"fa fa-trash\"> Delete Garden</i>"), garden_path(@user.garden), method: :delete, data: {confirm: "Are you sure you want to delete your garden?"} %>
      </li>
  <% end %>

    <li>
      <%= link_to raw("<i class=\"fa fa-user\"> Delete Profile</i>"), method: :delete, data: {confirm: "Are you sure you want to delete your profile?"} %>
    </li>

    </div>
  </ul>