<div id="user-info">
  <li>User Name: <%= @user.name %></li>
  <li>User Email: <%= @user.email %></li>
</div>

<div id="messages">
  <ol>
  <% @messages.each do |message| %>
      <li>
        <ul>
          <li>Sender: <%= message.sender.name %></li>
          <li>Title: <%= message.title %></li>
          <li>Message content:<%= message.content %></li>
          <li><%= link_to "Reply", message_path(message) %>
        </ul>
      </li>
  <% end %>
  </ol>
</div>

<div id="create-garden-button">
  <% if !@user.garden %>
    <div><%= form_for([@user, @garden]) do |f| %>
      <%= f.submit %>
    <% end %>
    </div>
  <% end %>
</div>