<div id="user-info">
  <li>User Name: <%= @user.name %></li>
  <li>User Email: <%= @user.email %></li>
</div>

<% if @messages %>
  <div id="messages">
    <ol>
      <%= render partial: 'users/message', collection: @messages %>
    </ol>
  </div>
<% end %>

<div id="create-garden-button">
  <% if !@user.garden %>
    <div>
      <%= form_for([@user, @garden]) do |f| %>
        <%= f.submit %>
      <% end %>
    </div>
  <% end %>
</div>