<div class="user-info">
  <ul>
    <li><%= @user.name %></li>
    <li><%= @user.email %></li>
  </ul>
</div>

<div class="user-controls">
  <ul>
    <li><%= link_to raw("<i class=\"fa fa-gear\"> Profile Settings</i>"), edit_user_path(@user) %></li>
      <% if @trades.length != nil %>
        <li><%= link_to raw("<i class=\"fa fa-apple\"> Ended Trades</i>"), trades_path %> <%= @trades.count %></li>
      <% end %>
  </ul>
</div>



<% if @conversations %>
  <div class="conversations">
    <% @conversations.each do |c| %>    
      <% if !c.trade %>
  
          <ul class="request-box">
            <li><%= c.product.name %></li>
            <li>Requested by: <%= c.sender.name %></li>
            <li class="view-link"><%= link_to "View conversation", conversation_path(c) %></li>
            <%= link_to( image_tag(c.product.image_url(:thumb).to_s), product_path(c.product)) %>
          </ul>
  
      <% end %>
    <% end %>
  </div>
<% end %>

<ul>  
  <% if !@user.garden %>
    <div id="create-garden-button">
      
      <%= form_for([@garden]) do |f| %>
        <div class="field">
          <li><%= f.label :postal_code %></li>
          <li><%= f.text_field :postal_code %></li>
        </div>  
        <div class="action">
          <li><%= f.submit %></li>
        </div>
    </div>
</ul>    
      <% end %>
    
  <% else %>
    <div class="user-controls">
    <ul>
      <li>
        <%= link_to raw("<i class=\"fa fa-trash\"> Delete Garden</i>"), garden_path(@user.garden), method: :delete, data: {confirm: "Are you sure you want to delete your garden?"} %>
      </li>
  <% end %>

    <li>
      <%= link_to raw("<i class=\"fa fa-user\"> Delete Profile</i>"), method: :delete, data: {confirm: "Are you sure you want to delete your profile?"} %>
    </li>

    </div>
  </ul>