<div class="user-info">
  <ul>
    <li><%= @user.name %></li>
    <li><%= @user.email %></li>
  </ul>
</div>

<div class="user-controls">
  <ul>
    <li><%= link_to raw("<i class=\"fa fa-gear\"> Profile Settings</i>"), edit_user_path(@user) %></li>
      <% if @trades.length != nil %>
        <li><%= link_to raw("<i class=\"fa fa-apple\"> Ended Trades</i>"), trades_path %> <%= @trades.count %></li>
      <% end %>
  </ul>
</div>

<% @products_list.each do |c| %>
  
  <div class="product-convo-bar">
    <ul>
      <li><%= c.product.name %></li>
      <li><%= c.product.garden.user.name %></li>
      <li><%= image_tag(c.product.image_url(:thumb).to_s) %></li>
    </ul>
  </div>

  <div class="convo-wrapper">
  <a href="#" class="show-all">Show all trades in progress.</a>

  <div class="product-related-convos">
      <% @conversations.where("product_id = ?", c.product.id).each do |conv| %>
        
        <% if !conv.trade %>
          <div class="request-box">
            <ul>
              <li>Request id: <%= conv.id %></li>
              <li>Requested by: <%= conv.sender.name %></li>
              <li><%= conv.request %></li>
              <li class="view-link"><%= link_to "View conversation", conversation_path(conv) %></li>
            </ul>
          </div>
        <% end %>
      
      <% end %>
  </div>
</div>
<% end %>


<ul>
  <% if !@user.garden %>
    <div id="create-garden-button">

      <%= form_for([@garden]) do |f| %>
        <div class="field">
          <li><%= f.label :postal_code %></li>
          <li><%= f.text_field :postal_code %></li>
        </div>
        <div class="action">
          <li><%= f.submit %></li>
        </div>
    </div>
</ul>
      <% end %>

  <% else %>
    <div class="user-controls">
    <ul>
      <li>
        <%= link_to raw("<i class=\"fa fa-trash\"> Delete Garden</i>"), garden_path(@user.garden), method: :delete, data: {confirm: "Are you sure you want to delete your garden?"} %>
      </li>
  <% end %>

    <li>
      <%= link_to raw("<i class=\"fa fa-user\"> Delete Profile</i>"), method: :delete, data: {confirm: "Are you sure you want to delete your profile?"} %>
    </li>

    </div>
  </ul>