  <%= form_for @product, :html => {:multipart => true} do |f| %>
  <ul class="new-product-form">
    <li>New product form:</li>
    <li><%= f.label :tag_list %></li>
    <li><%= f.text_field :tag_list %></li>
    <li><%= f.label :name %></li>
    <li><%= f.text_field :name %></li>
    <li><%= f.label :description %></li>
    <li><%= f.text_area :description %></li>
    <li><%= f.label :trade_info %></li>
    <li><%= f.text_area :trade_info %></li>
    <li><%= f.file_field :image %></li>
    <li><%= f.submit %></li>

<% end %>

