
<%= button_tag "Find gardens near me", id: "current-location" %>

<div class="search-bar">
	<%= form_tag products_path, method: :get, id: 'search-form'  do %>
	  <%= text_field_tag :search, params[:search] %>
	  <%= submit_tag "search" %>
	<% end %>
</div>

<h2>Gardens</h2>
<div id="gardens">
  <%= render @gardens %>
</div>
