<h1>Welcome to <%= @user.name %>'s Garden</h1>

<div class="products">
  <h3>Products</h3>
  <ol>
    <% @products.each do |product| %>
    <li>
      <ul>
        <li>
          <%= link_to product.name, product_path(product) %>
        </li>
        <li>
          <%= product.description %>
        </li>
        <li>
          <%= product.trade_info %>
        </li>

      <div class="picture">
        <%= image_tag product.image_url.to_s %>
        <!--
        <%= link_to "edit", edit_product_path(product) %> |
        <%= link_to "remove", product, :confirm => 'Are you sure?', :method => :delete %>
        -->
      </div>
      </ul>
    </li>
    <% end %>
  </ol>
</div>

<%= render 'newproductform' %>