<h1>Welcome to <%= @user.name %>'s Garden</h1>

<div class="products">
  <h3>Products</h3>
  <ol>
    <% @products.each do |product| %>
    <li>
      <ul>
        <li>
          <%= link_to product.name, product_path(product) %>
        </li>
        <li>
          <%= product.description %>
        </li>
        <li>
          <%= product.trade_info %>
        </li>
      </ul>
    </li>
    <% end %>
  </ol>
</div>

<% if @user == current_user %>
  <div class="new_product">
    <%= form_for(@product) do |f| %>
    <div>
      <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
        <div>
          <%= f.label :description %>
        <%= f.text_area :description %>
      </div>
        <div>
          <%= f.label :trade_info %>
            <%= f.text_area :trade_info %>
        </div>
      <%= f.submit %>
      <% end %>
    </div>
  </div>
<% end %>