
<h1><%= @product.name %></h1>

<div class="product-show-grid">
  <%= image_tag @product.image_url, class: "product-show-img" %>
</div>

<div class="product-detail-grid">
  <div>
      <em>Tag: <%= @product.tag_list %></em>
  </div>
  <div class="product-description">
    <%= @product.description %>
    <%= @product.trade_info %>
  </div>

  <div class="social-buttons">
    <ul>
      <li>
        <!-- Twitter -->
        <a href="http://twitter.com/home?status=<%= product_url(@product) %>" title="Share on Twitter" target="_blank" class="btn btn-twitter"><i class="fa fa-twitter"></i> Twitter</a>
      </li>
      <li> 
        <!-- Facebook -->
        <a href="https://www.facebook.com/sharer/sharer.php?u=<%= product_url(@product) %> View <%= @product.garden.user.name %>'s <%= @product.name %> on Homegrown!" title="Share on Facebook" target="_blank" class="btn btn-facebook"><i class="fa fa-facebook"></i> Facebook</a>
      </li>
      <li>
        <!-- Google+ -->
        <a href="https://plus.google.com/share?url=<%= product_url(@product) %>" title="Share on Google+" target="_blank" class="btn btn-googleplus"><i class="fa fa-google-plus"></i> Google+</a>
      </li>
    </ul>
  </div>

  <button class="product-show-btn">
    <%= link_to 'View Garden', garden_path(@product.garden) %>
  </button>

</div>
