
<h1><%= @product.name %></h1>

<div class="product-show-grid">
  <%= image_tag @product.image_url, class: "product-show-img" %>
</div>

<div class="product-detail-grid">
  <div>
      <em>Tag: <%= @product.tag_list %></em>
  </div>
  <div class="product-description">
    <%= @product.description %>
    <%= @product.trade_info %>
  </div>

  <ul class="social-media-bar">
    <li>
      <%= social_share_button_tag("#{@product.name} grown by #{@product.garden.user.name}!", :popup => "true") %>
    </li>
  </ul>

  <button class="product-show-btn">
    <%= link_to 'View Garden', garden_path(@product.garden) %>
  </button>

</div>
