<%= form_for([@conversation]) do |f| %>
  <div class="make-request">
  What would you like to trade for <%= @product.name %>?
  </div>
  <div class="field">
    <%= f.text_area :request, class: "product-show-convo" %>
  </div>
    <%= f.hidden_field :product_id, {value: @product.id} %>
    <%= f.hidden_field :sender_id, {value: current_user.id} %>
    <%= f.hidden_field :receiver_id, {value: @product.garden.user.id} %>
  <div class="product-show-btn">
    <%= f.submit %>
  </div>
<% end %>