<div class="product-card">
  <div class="product-card-pic">
    <%= link_to product_path(product) do %>
      <% image_tag product.image %>
    <% end %>
  </div>
  <div class="product-info">
    <h3><%= link_to product.name, product_path(product) %></h3>
    <div class="distance">
      <%= product.distance_to(session_location, :km).round(2) %> km
    </div>
    <div class="product-description">
      <%= product.description %>
    </div>
    <div class="trade-info">
      <strong>Trade info:</strong> <%= product.trade_info %>
    </div>

  </div>
</div>
