<div class="banner-container">
<div class="banner">
  <div class="banner-text">
    <h1 id="text-1">Trade Fresh Plants</h1>
    <h1 id="text-2">Eat Healthy</h1>
  </div>
</div>
</div>

<div class="carousel-title">
  <h3>Products near You</h3>
</div>

<div class="carousel-container">
  <div class="carousel">
    <%= render 'loadingwheel' %>
  </div>
</div>

<!-- <div class="search-container">
</div> -->

<div class="category-title">
  <h3>Browse by Category</h3>
</div>

<div class="category-container">
  <div class="category-thumb" id="leafy-green-btn">
    <%= link_to products_path(:tag => "leafy green") do %>
      <div class="btn-mask">
        <h5>Leafy Green</h5>
      </div>
    <% end %>
  </div>

  <div class="category-thumb" id="roots-btn">
    <%= link_to products_path(:tag => "root") do %>
      <div class="btn-mask">
        <h5>Roots</h5>
      </div>
    <% end %>
  </div>

  <div class="category-thumb" id="fruit-veggie-btn">
    <%= link_to products_path(:tag => "fruit vegetable") do %>
      <div class="btn-mask">
        <h5>Fruit Vegetables</h5>
      </div>
    <% end %>
  </div>

  <div class="category-thumb" id="berries-btn">
    <%= link_to products_path(:tag => "berries") do %>
      <div class="btn-mask">
        <h5>Berries</h5>
      </div>
    <% end %>
  </div>

  <div class="category-thumb" id="pomes-btn">
    <%= link_to products_path(:tag => "pomes") do %>
      <div class="btn-mask">
        <h5>Pomes</h5>
      </div>
    <% end %>
  </div>

  <div class="category-thumb" id="citrus-btn">
    <%= link_to products_path(:tag => "citrus") do %>
      <div class="btn-mask">
        <h5>Citrus</h5>
      </div>
    <% end %>
  </div>
</div>

<script>

// 1. if there is no lat/lng in the cookie cache, then
// we need to call getLocationFromBrowser() with lat/lng set from the browser.

// 2. if there IS lat/lng in the cookie cache, then
// we need to call getProducts() with lat/lng from the cookie cache.


  function getLocationFromBrowser(){
    if ("geolocation" in navigator) {
      navigator.geolocation.getCurrentPosition(geolocationSuccess);
    }else{
      alert("Browser does not support geocoding");
    }
    setTimeout(checkLocation, 1800000);
  }

  function geolocationSuccess(position, isLocationDisabled) {

    console.log("In geolocationSuccess!");
    var latitude  = position.coords.latitude;
    var longitude = position.coords.longitude;

    $.cookie('latitude', latitude);
    $.cookie('longitude', longitude);

    getProducts(longitude, latitude);

  }

  function getProducts(longitude, latitude) {
    $.ajax({
      url: '/products/home',
      method: 'GET',
      data: {
        longitude: longitude,
        latitude: latitude
      },
      dataType: 'script'
    });
  }

  if($.cookie('latitude') == undefined && $.cookie('longitude') == undefined ){
    getLocationFromBrowser();
  } else {
    getProducts($.cookie('longitude'), $.cookie('latitude'));
  }

</script>
