<h1>Products</h1>
<div class="search-bar">
	<%= form_tag products_path, method: :get, id: 'search-form'  do %>
	  <%= text_field_tag :search, params[:search], id: 'search-field' %>
	  <%= range_field_tag(:proximity, :distance, :in => 0..30, :step => '5', :value => '10') %>
	  <div class="rangevalue"></div>
	  <%= submit_tag "search", value: "product-search", id: "search-button" %>
	<% end %>
</div>
<div id="products">
    <ul>
		<%= render @products %>
    </ul>
</div>
