<h1>Products</h1>
<%= button_tag "Find products near me", id: "product-location" %>

<div class="search-bar">
	<%= form_tag products_path, method: :get, id: 'search-form'  do %>
	  <%= text_field_tag :search, params[:search] %>
	  <%= submit_tag "search" %>
	<% end %>
</div>

<div id="products">
    <ul>
		<%= render @products %>
    </ul>
</div>
