<h1>Product Info</h1>
<div><%= @product.name %></div>
<div><%= @product.description %></div>
<div><%= @product.trade_info %></div>
<div><%= link_to 'Back to the Product list', products_path %></div>

<%= form_for([@product, @message]) do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_area :title %>
  </div>
  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content %>
  </div>
  <div class="action">
    <%= f.submit %>
  </div>
<% end %>