<div class="login-form">
  <%= form_tag user_sessions_path, :method => :post do %>
  <div class="login-grid">
    <div class="login-field">
      <%= label_tag :email %>
      <%= text_field_tag :email %>
    </div>
    <div class="login-field">
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
  </div>

    <div class="user-login-action">
      <%= submit_tag "Login", value: "login", class: "login-btn" %>
    </div>
  <% end %>
</div>

<div class="register-btn">
  <%= button_to "Register", new_user_path, method: :get %>
</div>