<div class="vertical-tabs-container">
  <div class="vertical-tabs">
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab is-active" rel="tab1">
      Succesful trades for your items
    </a>
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab2">
      Unsuccesful trades for your items
    </a>
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab3">
      Succesful trades you requested
    </a>
    <a href="javascript:void(0)" class="js-vertical-tab vertical-tab" rel="tab4">
      Unsuccesful trades you requested
    </a>
  </div>

  <div class="vertical-tab-content-container">
    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading is-active" rel="tab1">
      Succesful trades for your items
    </a>
    <div id="tab1" class="js-vertical-tab-content vertical-tab-content">
      <% if @trades_seller_success %>
        <div class="trades-seller-success">
          <ul>
            <li class="num-of-trades"><%= @trades_seller_success.count %> successfully completed trades for your items.</li>
              <% @trades_seller_success.each do |t| %>
                <div class="trade-brief">
                  <li class="trade-partner">You traded <%= t.product.name %> with <%= t.buyer.name %>.</li>
                    <div class="trade-result">
                      <li>The result of this trade was:</li>
                      <li><%= t.negotiation_result %></li>
                      <li class="timestamp">Trade ended on <%= t.created_at.to_formatted_s(:db) %></li>
                    </div>
                </div>
              <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab2">
      Unsuccesful trades for your items
    </a>
    <div id="tab2" class="js-vertical-tab-content vertical-tab-content">
      <% if @trades_seller_unsuccessful %>
        <div class="trades-seller-unsuccess">
          <ul>
            <li class="num-of-trades"><%= @trades_seller_unsuccessful.count %> unsuccessful trades for your items.</li>
              <% @trades_seller_unsuccessful.each do |t| %>
                <div class="trade-brief">
                  <li class="trade-partner">You attempted to trade <%= t.product.name %> with <%= t.buyer.name %>.</li>
                    <div class="trade-result">
                      <li>The result of this trade was:</li>
                      <li><%= t.negotiation_result %></li>
                      <li class="timestamp">Trade ended on <%= t.created_at.to_formatted_s(:db) %></li>
                    </div>
                  </div>
                <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab3">
      Succesful trades you requested
    </a>
    <div id="tab3" class="js-vertical-tab-content vertical-tab-content">
      <% if @trades_buyer_success %>
        <div class="trades-buyer-success">
          <ul>
            <li class="num-of-trades"><%= @trades_buyer_success.count %> completed trades for items from others.</li>
              <% @trades_buyer_success.each do |t| %>
                <div class="trade-brief">
                  <li class="trade-partner">You traded <%= t.product.name %> with <%= t.seller.name %>.</li>
                    <div class="trade-result">
                      <li>The result of this trade was:</li>
                      <li><%= t.negotiation_result %></li>
                      <li class="timestamp">Trade ended on <%= t.created_at.to_formatted_s(:db) %></li>
                    </div>
                  </div>
              <% end %>
          </ul>
        </div>
      <% end %>
    </div>

    <a href="" class="js-vertical-tab-accordion-heading vertical-tab-accordion-heading" rel="tab4">
      Unsuccesful trades you requested
    </a>
    <div id="tab4" class="js-vertical-tab-content vertical-tab-content">
      <% if @trades_buyer_unsuccessful %>
        <div class="trades-buyer-unsuccess">
          <ul>
            <li class="num-of-trades"><%= @trades_buyer_unsuccessful.count %> unsuccessful trades for items from others.</li>
              <% @trades_buyer_unsuccessful.each do |t| %>
                <div class="trade-brief">
                  <li class="trade-partner">You attempted to trade <%= t.product.name %> with <%= t.seller.name %>.</li>
                    <div class="trade-result">
                      <li>The result of this trade was:</li>
                      <li><%= t.negotiation_result %></li>
                      <li class="timestamp">Trade ended on <%= t.created_at.to_formatted_s(:db) %></li>
                    </div>
                </div>
              <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
</div>



