<div class="end-trade">
  <%= form_for(@trade) do |f| %>
  	<div>
      Ending trade with <%= @buyer.name %> for <%= @product.name %>
    </div>

    <div>What was the result of this trade?</div>

    <div>
      <%= f.radio_button(:success, "true")  %>
      <%= f.label(:success, "Succesful") %>
    </div>
    <div>
      <%= f.radio_button(:success, "false")  %>
      <%= f.label(:unsuccessful, "Unsuccesful") %>
    </div>
    <div>
      <%= f.label "Comment on this trade:" %>
      <%= f.text_field :negotiation_result %>
    </div>
    <%= f.hidden_field :seller_id, {value: current_user.id} %>
    <%= f.hidden_field :buyer_id, {value: @buyer.id} %>
    <%= f.hidden_field :product_id, {value: @product.id} %>
    <%= f.hidden_field :conversation_id, {value: @conversation.id} %>
    <%= f.submit 'End Trade' %>
  <% end %>
</div>