<!DOCTYPE html>
<html>
<head>
  <title>Homegrow</title>
  <meta name="viewport" content="initial-scale=1.0,width=device-width">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header class="header-bar">
    <ul class="nav">
      <% if current_user %>

        <li class="nav-link">
            <%= link_to "Sign out", :logout, method: :post %>
        </li>

        <li class="nav-button">
            <%= link_to raw("<i class=\"fa fa-user\"></i>"), user_path(current_user) %>
        </li>

      <% else %>
        <li class="nav-link">
            <%= link_to "Sign in", :login %>
        </li>

      <% end %>
      <li class="nav-button">
        <%= link_to raw("<i class=\"fa fa-search\" ></i>"), root_path %>
      </li>
      <div class="homegrown">
      </div>
    </ul>
  </header>

  <main>
    <div>
      <p id="notice"><%= flash[:notice] %></p>
      <p id="alert"><%= flash[:alert] %></p>
    </div>
    <%= yield %>
  </main>

</body>
</html>
